<section class="cardDisplay">
  <button class="cardDisplay__reset">
    <i class="fa-solid fa-trash-can"></i> Reset
  </button>
  <div class="cardDisplay__card">
    <h1 class="cardDisplay__card--name">Nombre Apellido</h1>
    <h2 class="cardDisplay__card--profesion">Front-end developer</h2>
    <figure class="cardDisplay__card--photo">
      <img
        class="photo"
        src="./assets/images/photoexample2.png"
        alt="Foto del perfil"
      />
    </figure>
    <ul class="cardDisplay__card--iconList">
      <li class="cardListElement">
        <a class="cardListElement__icon telf" href="#" target="_blank">
          <i class="fa-solid fa-mobile-screen icon"></i
        ></a>
      </li>
      <li class="cardListElement">
        <a class="cardListElement__icon email" href="#" target="_blank"
          ><i class="fa-solid fa-envelope icon"></i
        ></a>
      </li>
      <li class="cardListElement">
        <a class="cardListElement__icon linkedin" href="#" target="_blank"
          ><i class="fa-brands fa-linkedin-in icon-dots icon"></i
        ></a>
      </li>
      <li class="cardListElement">
        <a class="cardListElement__icon github" href="#" target="_blank"
          ><i class="fa-brands fa-github-alt icon-dots icon"></i
        ></a>
      </li>
    </ul>
  </div>
</section>
