<section class="cardDisplay">
  <button class="js-resetBtn cardDisplay__reset">
    <i class="fa-solid fa-trash-can"></i> Reset
  </button>
  <div class="cardDisplay__card">
    <div class="titleWrap">
      <h1 class="js-nameCard cardDisplay__card--name">Nombre Apellido</h1>
      <h3 class="js-careerCard cardDisplay__card--profesion">
        Front-end developer
      </h3>
    </div>
    <div class="cardDisplay__card--photo"></div>
    <ul class="cardDisplay__card--iconList">
      <li class="cardListElement">
        <a
          class="js-telCard cardListElement__icon telf"
          href="tel:example"
          target="_blank"
        >
          <i class="fa-solid fa-mobile-screen icon"></i
        ></a>
      </li>
      <li class="cardListElement">
        <a
          class="js-mailCard cardListElement__icon email"
          href="mailto:example@gmail.com"
          target="_blank"
        >
          <i class="fa-regular fa-envelope"></i>
        </a>
      </li>
      <li class="cardListElement">
        <a
          class="js-linkedinCard cardListElement__icon linkedin"
          href="https://www.linkedin.com"
          target="_blank"
          ><i class="fa-brands fa-linkedin-in icon-dots icon"></i
        ></a>
      </li>
      <li class="cardListElement">
        <a
          class="js-githubCard cardListElement__icon github"
          href="https://github.com/"
          target="_blank"
          ><i class="fa-brands fa-github-alt icon-dots icon"></i
        ></a>
      </li>
    </ul>
  </div>
</section>
