<div class="form__contact">
  <label class="form__contact--label" for="name">Nombre completo</label>
  <input
    class="form__contact--input"
    type="text"
    id="name"
    name="name"
    placeholder="Ej:Saily Jill"
    required
  />

  <label class="form__contact--label" for="text">Puesto </label>
  <input
    class="form__contact--input"
    type="text"
    id="text"
    name="text"
    placeholder="Ej: Front-end unicorn"
    required
  />
  <label class="form__contact--label" for="text">Imagen de perfil</label>
  <div class="form__contact--div">
    <input class="form__contact--btn" type="submit" value="Añadir imagen" />
    <div class="form__contact--square"></div>
  </div>

  <label class="form__contact--label" for="email">Email </label>
  <input
    class="form__contact--input"
    type="email"
    id="email"
    name="email"
    placeholder="Ej:linkedin.com/in/sally.hill"
    required
  />

  <label class="form__contact--label" for="tel"> Teléfono</label>
  <input
    class="form__contact--input"
    type="tel"
    id="tel"
    name="tel"
    pattern="^[0-9]{9}$"
    placeholder="Ej: 555-55-55-55"
    required
  />

  <label class="form__contact--label" for="text"> Linkedin</label>
  <input
    class="form__contact--input"
    type="text"
    id="text"
    name="text"
    placeholder="Ej: ej:linkedin.com/in/sally.hill"
    required
  />

  <label class="form__contact--label" for="text"> Github</label>
  <input
    class="form__contact--input"
    type="text"
    id="text"
    name="text"
    placeholder="Ej:sally.hill"
    required
  />
</div>
