<fieldset class="js-fieldsetFill fieldset">
  <legend class="js-containerLegend js-containerLegendFill containerLegend">
    <!-- 
      Consultar secciones dentro del form:
      20.10.22 Dayana : recomendación hacer Divs en lugar de sections
      recomienda tambien hacer partials para cada caja "legend"
    -->
    <div class="legend__tab">
      <i class="fa-regular fa-keyboard legend__tab--icon"></i>
      <h2 class="legend__tab--title">Rellena</h2>
    </div>
    <i class="js-downArrow1 fa-solid fa-chevron-down legend__tab--arrow"></i>
    <i class="js-upArrow1 hide fa-solid fa-chevron-up legend__tab--arrow"></i>
  </legend>

  <div class="js-container js-form__contact form__contact hide">
    <label class="form__contact--label" for="name">Nombre completo</label>
    <input
      class="js-name form__contact--input"
      type="text"
      id="name"
      name="name"
      placeholder="Ej:Saily Jill"
      required
    />

    <label class="form__contact--label" for="text">Puesto </label>
    <input
      class="js-career form__contact--input"
      type="text"
      id="text"
      name="job"
      placeholder="Ej: Front-end unicorn"
      required
    />
    <label class="form__contact--label" for="text">Imagen de perfil</label>
    <div class="form__contact--div">
      <label class="form__contact--btn" for="photo">Añadir imagen </label>
      <input
        class="js__profile-upload-btn hide"
        type="file"
        value=""
        name="photo"
        id="photo"
      />
      <div class="js__profile-preview form__contact--square"></div>
    </div>

    <label class="form__contact--label" for="email">Email </label>
    <input
      class="js-mailInput form__contact--input"
      type="email"
      id="email"
      name="email"
      placeholder="Ej: sally.hill@gamil.com"
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
      required
    />

    <label class="form__contact--label" for="tel"> Teléfono</label>
    <input
      class="js-telInput form__contact--input"
      type="tel"
      id="tel"
      name="phone"
      pattern="^[0-9]{9}$"
      placeholder="Ej: 555-55-55-55"
      required
    />

    <label class="form__contact--label" for="text"> Linkedin</label>
    <input
      class="js-linkedinInput form__contact--input"
      type="text"
      id="text"
      name="linkedin"
      placeholder="Ej: linkedin.com/in/sally.hill"
      required
    />

    <label class="form__contact--label" for="text"> Github</label>
    <input
      class="js-githubInput form__contact--input"
      type="text"
      id="text"
      name="github"
      placeholder="Ej:github.com/sally.hill"
      required
    />
  </div>
</fieldset>
