<section class="share">
    
    <div class="share__tab">
        <i class="fa-solid fa-share-nodes"></i> 
        <h2 class="title-share">Comparte</h2>
    </div>
    <a href="" class="share__tab--arrow"><img src=""/></a>

    <a class="share__buttoncreate" title="Crear tarjeta" href=""><i class="fa-regular fa-address-card">Crear tarjeta</i></a>

    <p class="share__text">La tarjeta ha sido creada:</p>
    <p class="share__link">*aquí iría el link*</p>

    <a class="share__buttontwitter" title="Compartir en twitter" href=""><i class="fa-brands fa-twitter">Compartir en twitter</i></a>

</section>