<fieldset class="fieldset">
  <legend class="js-containerLegendShare containerLegend">
    <div class="legend__tab">
      <i class="fa-solid fa-share-nodes legend__tab--icon"></i>
      <h2 class="legend__tab--title">Comparte</h2>
    </div>
    <i class="js-upArrow2 fa-solid fa-chevron-up legend__tab--arrow"></i>
    <i
      class="js-downArrow2 hide fa-solid fa-chevron-down legend__tab--arrow"
    ></i>
  </legend>

  <div class="js-containerCreate shareTwitter">
    <button class="js-btn-create shareTwitter__buttoncreate grey" type="button">
      <i
        class="fa-regular fa-address-card shareTwitter__buttoncreate--icon"
      ></i>
      <span class="shareTwitter__buttoncreate--text">Crear tarjeta</span>
    </button>
  </div>

  <div class="js-shareTwitter shareTwitter hide">
    <h4 class="shareTwitter__text">La tarjeta ha sido creada:<h4>
    <a class="shareTwitter__link" title="Enlace" href="">*aquí iría el link*</a>
    <a class="shareTwitter__buttonshare" title="Compartir en twitter" href="https://twitter.com/intent/tweet">
      <i class="fa-brands fa-twitter shareTwitter__buttonshare--icon"></i>
      <span class="shareTwitter__buttonshare--text">Compartir en twitter</span>
    </a>
  </div>
</fieldset>
