<fieldset class="fieldset">
  <legend class="js-containerLegend containerLegend">
    <!-- 
      Consultar secciones dentro del form:
      20.10.22 Dayana : recomendación hacer Divs en lugar de sections
      recomienda tambien hacer partials para cada caja "legend"
    -->
    <div class="legend__tab">
      <i class="fa-solid fa-object-ungroup legend__tab--icon"></i>
      <h2 class="legend__tab--title">Diseña</h2>
    </div>

    <i
      class="js-upArrowArray js-upArrow fa-solid fa-chevron-up legend__tab--arrow"
    ></i>
    <!--   <i
      class="js-downArrowArray js-downArrow hide fa-solid fa-chevron-down legend__tab--arrow"
    ></i> -->
  </legend>

  <div class="js-container palettes js-palettes">
    <label class="palettes__text" for="color">Colores</label>
    <div class="palettes__options">
      <div class="aqua colorContainer">
        <input
          class="js-palette1 inputColor"
          checked
          type="radio"
          id="color1"
          name="palette"
          value="palette1"
        />
        <div class="colorBox aqua-1"></div>
        <div class="colorBox aqua-2"></div>
        <div class="colorBox aqua-3"></div>
      </div>

      <div class="red colorContainer">
        <input
          class="js-palette2 inputColor"
          type="radio"
          id="color2"
          name="palette"
          value="palette2"
        />
        <div class="colorBox red-1"></div>
        <div class="colorBox red-2"></div>
        <div class="colorBox red-3"></div>
      </div>

      <div class="blueandbeige colorContainer">
        <input
          class="js-palette3 inputColor"
          type="radio"
          id="color3"
          name="palette"
          value="palette3"
        />
        <div class="colorBox blueandbeige-1"></div>
        <div class="colorBox blueandbeige-2"></div>
        <div class="colorBox blueandbeige-3"></div>
      </div>

      <div class="green colorContainer">
        <input
          class="js-palette4 inputColor"
          type="radio"
          id="color4"
          name="palette"
          value="palette4"
        />
        <div class="colorBox green-1"></div>
        <div class="colorBox green-2"></div>
        <div class="colorBox green-3"></div>
      </div>

      <!--
        Consulta label (sin mostrar) para usar propiedad aria (facilita discapacidad visual):
        consultado con Dayana 20.10.22 atributo pendiente de revisar y que nos confirmen.
        Atributo que solo se aplica en etiqueta label.
     -->
    </div>
  </div>
</fieldset>
