<fieldset class="design">
  <div class="containerLegend">
    <!-- 
      Consultar secciones dentro del form:
      20.10.22 Dayana : recomendación hacer Divs en lugar de sections
      recomienda tambien hacer partials para cada caja "legend"
    -->
    <div class="design__tab">
      <i class="fa-solid fa-object-ungroup design__tab--icon"></i>
      <legend class="design__tab--legend">Diseña</legend>
    </div>

    <i class="fa-solid fa-chevron-up design__tab--arrow"></i>
  </div>

  <!-- Aquí icono flecha hacia abajo
    <i class="fa-solid fa-chevron-down"></i> -->

  <div class="palettes">
    <label class="palettes__text" for="color">Colores</label>

    <div class="palettes__options">
      <input type="radio" id="color" name="palette1" value="first_checkbox" />
      <label aria="Paleta aqua">
        <div class="aqua"></div>
      </label>
      <input type="radio" id="color" name="palette2" value="second_checkbox" />
      <label aria="Paleta red">
        <div class="red"></div>
      </label>
      <input type="radio" id="color" name="palette3" value="third_checkbox" />
      <label aria="Paleta blue & beige">
        <div class="blueandbeige"></div>
      </label>
      <!--
        Consulta label (sin mostrar) para usar propiedad aria (facilita discapacidad visual):
        consultado con Dayana 20.10.22 atributo pendiente de revisar y que nos confirmen.
        Atributo que solo se aplica en etiqueta label.
     -->
    </div>
  </div>
</fieldset>
