.landing {
  padding: 5.9rem 2.2rem 0 2.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  height: 90vh;//Consultado 20/10 con Dayana Ok. Opción 2 dejar alto fijo al footer.

}

.landingLogo {
  width: 250px;
  height: 63px;
}

.landingSection {
  margin: 0rem 2.2rem 0 2.2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &__title {
    font-family: "Merriweather", serif;
    font-size: rem(19.2);
    color: $colorIcons;
    margin: 2.2rem 0 0 0;
  }

  &__text {
    font-size: rem(12.8);
    color: $colorSubtitle;
    margin: 0 0 1.11rem 0;
  }

  &__container {
    width: 268px;
    height: 73.8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border: solid 1.6px rgba(225, 115, 52, 0.21);
    //opacity: 0.21;
    border-radius: 4px;

    &--icon {
      font-size: 22.4px;
      color: $colorIcons;
    }

    &--text {
      font-size: rem(12.8);
      color: $colorSubtitle;
      width: 60px;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.landingButton {
  width: 8rem;
  height: 2.6rem;
  margin: 2.4rem 3.6rem 1.9rem 3.6rem;
  background-color: #438792;
  border-radius: 21px;
  border-style: none;

  &__link {
    text-decoration: none;
    font-family: $font-familyPrimary;
    font-size: rem(16);
    font-weight: 600;
    text-transform: uppercase;
    color: $colorWhite;
  }
}
