.design {
  color: $colorGreyText;
  border-bottom: solid 1px $colorWhiteTwo;
}
.form__contact__tab {
  display: flex;
  gap: 10px;
  margin-top: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: rem(18);
}
.form__contact--icon {
  color: $colorIcons;
  font-size: rem(20);
}
.form__contact--arrow1 {
  width: 16px;
  height: 18px;
  margin-top: 1rem;
}
.form__contact--arrow2 {
  width: 16px;
  height: 18px;
  margin-top: 1rem;
}
.form__contact {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;

  &--label {
    margin-top: 1rem;
    font-size: 14px;
    color: $colorSubtitle;
    font-weight: normal;
  }
  &--input {
    padding: 5px 120px 7px 9px;
    border: 1px solid $colorBorder;
    margin-top: 0.3rem;
    padding-right: 3px;
    height: 30px;
  }
  &--div {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  &--btn {
    background-color: $colorIcons;
    color: $colorWhite;
    border-radius: 3px;
    font-size: 14px;
    padding: 3px 22px 7px;
    border: none;
    width: 50%;
  }
  &--square {
    width: rem(30);
    height: 30px;
    border: 1px solid $colorBorder;
  }
}
@media all and (min-width: 768px) {
  .form__contact--input {
    width: 329px;
  }
  .form__contact--btn {
    width: 20%;
  }
}
