.design {
    color: $colorGreyText;
    border-bottom: solid 1px $colorWhiteTwo;
    padding-top: 27px;
    // No sé cómo quitar border de los lados
}

.containerLegend {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    
    .design__tab {
        display: flex;

        &--icon {
            color: $colorIcons;
            font-size: 20px;
        }
        &--legend {
            text-transform: uppercase;
            font-size: rem(18);
            font-weight: 600;
            padding-left: 10px;
        }
    }
    .design__tab--arrow {
        width: 16px;
        height: 18px;
        padding-right: 30px;
    }
}

.palettes {
    display: flex;
    justify-content: space-between;
    padding: 22px 30px 22px 32px;
    &__text {
        text-transform: uppercase;
    }
}

.colorContainer {
    width:120px ;
    height: 25px;
    display: flex;
}
.inputColor {
    margin-right: 10px;
}
.colorBox {
    width:30px ;
    height: 25px;
}
.aqua-1{background-color:$colorSubtitle;}
.aqua-2{background-color: $colorAqua2;}
.aqua-3{background-color: $colorBorder;}