.shareTwitter {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__buttoncreate {
        background-color: $colorIcons;
        // Para la pestaña abierta:background-color: #d5d5d5;
        color: $colorWhite;
        border-color: $colorIcons;
        border: $colorIcons;
        // Para la pestaña abierta: border: #d5d5d5;
        // box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
        border-radius: 12px;
        width: 199px;
        height: 50px;
        margin-block: 30px;

        &--icon {
            font-size: rem(22);
            margin-right: 9px;
        }

        &--text {
            font-family: $font-familyPrimary;
            font-size: rem(18);
            font-weight: 600;
            text-transform: uppercase;
            text-decoration: none;
        }
    }

    &__text {
        font-size: rem(18);
        font-weight: 600;
    }

    &__link {
        font-size: rem(12);
        color: $colorIcons;
        padding-top: 5px;
    }

    &__buttonshare {
        background-color: #00a0f5;
        width: 181px;
        height: 30px;
        border-radius: 3px;
        margin-block: 10px 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: $colorWhite;

        &--icon{
            font-size: rem(18);
            margin-right: 9px;
        }

        &--text {
            font-family: $font-familyPrimary;
            font-size: rem(14);
            text-transform: capitalize;
        }
    }
}